/* TOTH https://github.com/vmware/captive-web-view/blob/main/Sources/CaptiveWebView/Resources/library/pagebuilder.css
 */

/* Style names make use of the Block Element Modifier convention, see:  
 * https://en.bem.info/methodology/naming-convention/
 */

 :root {
    /* Colours that don't change between light and dark modes. */
   --accent-colour: #006990;

   /* Colours that do change between light and dark modes. */
   --line-colour-light-mode: #101010;
   --background-colour-light-mode: #f0f0f0;
   --line-colour-dark-mode: #f0f0e0;
   --background-colour-dark-mode: #202020;
   --field-colour-light-mode: rgb(224, 224, 224);
   --field-colour-dark-mode: rgb(112, 112, 112);

   /* Variables whose values change between light and dark modes. */
   --line-colour: var(--line-colour-light-mode);
   --background-colour: var(--background-colour-light-mode);
   --field-colour: var(--field-colour-light-mode);

   /* Shorthand for a border of current line colour. */
   --border: var(--line-colour) 1px solid;

   /* Next shorthands facilitate styling controls to:
    *
    * -   have a border in light mode, but be filled in dark mode.
    * -   be filled in light mode, but have a border in dark mode.
    *
    * For example, PageBuilder buttons in dark mode have a white border and no
    * fill, but in light mode have no border and a grey fill.
    *
    * The values are redefined in dark mode, below.
    */
   --light-mode-border: var(--border);
   --dark-mode-border: none;
   --light-mode-field: var(--field-colour);
   --dark-mode-field: none;

   --border-radius: 6px;
}
@media (prefers-color-scheme: dark) {
   :root {
       /* Dark mode colour overrides. */
       --line-colour: var(--line-colour-dark-mode);
       --background-colour: var(--background-colour-dark-mode);
       --field-colour: var(--field-colour-dark-mode);

       /* Overrides for switching between border and fill depending on mode.
        */
       --light-mode-border: none;
       --dark-mode-border: var(--border);
       --light-mode-field: none;
       --dark-mode-field: var(--field-colour);
   }
}

body {
    font-family: sans-serif;
    color: var(--line-colour);
    background-color: var(--background-colour);
}

a {
    text-decoration: none;
    color: var(--accent-colour);
    border-radius: var(--border-radius);
}
a.download {
    color: var(--line-colour-dark-mode);
    background-color: var(--accent-colour);
    padding: 0.2em 1em 0.2em 1em;
}

h1, h2 {
    font-weight: normal;
}

.header {
    border-bottom: var(--line-colour) 1px solid;
    width: 100%;
}
.header p:nth-of-type(1) {
    color: var(--background-colour);
    background-color: var(--line-colour);
    margin: 0;
    padding: 1em;
}

.footer {
    /* position: absolute;
    background-color: var(--background-colour);
    bottom: 0; */
    margin-top: 2em;
    border-top: var(--line-colour) 1px solid;
    padding-top: 1em;
    width: 100%;
    
    text-align: center;
}

h1:nth-of-type(1) {
    border-bottom: var(--line-colour) 1px solid;
    padding-bottom: 1em;
}

table {
    border-spacing: 0;
    width: 100%;
    border: var(--line-colour) 1px solid;
}
table thead {
    background-color: var(--accent-colour);
    color: var(--line-colour-dark-mode);
}
table th, table td {
    font-weight: normal;
    text-align: left;
    padding: 0.5em;
}
table tbody tr:hover {
    background-color: var(--field-colour);
}